    <section id="profile">
        <div class="author">
            <h3 class="author_heading">Software Engineer</h3>
            <h1 class="author_soub_heading">Oussama Oulaydi.</h1>
            <p class="author_body">
                Software Engineer @alx_africa | Bachelor's Degree, based in Morocco.
            </p>
            <p>Get a project? Let's talk.</p>
            <div class="ctn">
                <a href="https://www.linkedin.com/in/oussamaoulaydi" target="_blank" class="ctn-2">Contact Me</a>
                <a class="ctn-1" onclick="window.open('resume.pdf')">Download CV</a>
            </div>
        </div>
        <div class="section_pic-container">
            <img src="/img/ana.jpg" alt="this is Me"/>
        </div>
    </section>
    
    <div class="touch">
        <h1>get in touch</h1>
    </div>
    <section class="social-icons">
        <a href="https://www.linkedin.com/in/oussamaoulaydi" target="_blank" title="LinkedIn">
            <img src="https://img.icons8.com/material-rounded/48/000000/linkedin.png" alt="LinkedIn"/>
        </a>
        <a href="https://github.com/oulaydi" target="_blank" title="GitHub">
            <img src="https://img.icons8.com/material-rounded/48/000000/github.png" alt="GitHub"/>
        </a>
        <a href="https://discord.gg/techverse-maroc-1130864951976800276" target="_blank" title="Discord">
            <img src="https://img.icons8.com/material-rounded/48/000000/discord-logo.png" alt="Discord"/>
        </a>
        <a href="https://twitter.com/oulaybat_o" target="_blank" title="Twitter">
            <img src="https://img.icons8.com/material-rounded/48/000000/twitter.png" alt="Twitter"/>
        </a>        
    </section>

    <br><br><br>
    <ul class="phrases-list">
        <li>Efficient Solutions,</li>
        <li>Elegant Implementations,</li>
        <li>Exceptional Experiences</li>
    </ul>
    <br>    
    <div class="container__ex">
        <main class="row">
            <!--   *******  Education Section Starts  *******   -->
            <section class="col">
                <header class="title">
                    <h3 class="author_heading">EDUCATION</h3>
                </header>
                <div class="contents">
                    <% data.forEach(edu => { %>
                        <div class="box">
                            <h5><%= edu.startDate %> - <%= edu.endDate %></h5>
                            <h4><%= edu.degree %> - <%= edu.institution %></h4>
                            <a class="mini_links" href="<%= edu.institutionLink %>" target="_blank"><%= edu.institutionDomain %></a>
                            <p><%= edu.description %></p>
                        </div>
                    <% }) %>
                </div>
            </section>
            <!--   *******  Education Section Ends  *******   -->
    
            <!--   *******  Experience Section Starts  *******  -->
            <section class="col">
                <header class="title">
                    <h3 class="author_heading">EXPERIENCE</h3>
                </header>
                <div class="contents">
                    <% data2.forEach(exp => { %>
                        <div class="box">
                            <h5><%= exp.startDate %><% if (exp.endDate) { %> - <%= exp.endDate %><% } %></h5>
                            <h4><%= exp.degree %> - <%= exp.company %></h4>
                            <a class="mini_links" href="<%= exp.companyLink %>" target="_blank"><%= exp.companyDomain %></a>
                            <p><%= exp.description %></p>
                        </div>
                    <% }) %>
                </div>
            </section>
            <!--   *******  Experience Section Ends   *******  -->
        </main>
    </div>
    <br><br><br>